/*Base */
body, header, section, div, nav, article{
    display: block;
    box-sizing: border-box;
}
body, header, section, footer{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    border-bottom: 2px solid rgb(100, 100, 100);
}
small, h1, h4{
    font-family: Cinzel, sans-serif;
}
small{
    font-size: 0.6em;
    letter-spacing: 2px;
    font-weight: 500;
    padding-right: 1em;
    padding-left: 1em;
}
img{
    max-width: 100%;
}
a{
    display: inline-block;
    text-decoration: none;
}
a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}
section > h4{
    border-bottom: 2px solid gray
}
dd, li{
    font-variant: small-caps;
    background: linear-gradient(90deg, rgba(128, 128, 128, 0.1) 5%,
    white 90%, white 100%)
}
figure{
    margin: 0 auto;
    padding: 1em 0.5em  0 0.5em;
    background-color:rgb(0, 0, 0);
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}
figcaption{
    text-align: center;
    font-size: 12px;
    margin: 1em auto;
}
article{
    height: 100%;
    position: relative;/*for project title positioning*/
}
label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
input{
    background-color: rgba(128, 128, 128, 0.479);
    height: 1.5em;
    width: 100%;
}
textarea{
    background-color: rgba(128, 128, 128, 0.479);
    width: 95%;
    display: block;
    margin: 0 auto;
}
button{
    font-size: 1.2em;
    display: block;
    margin: 0 auto;
}
/*layout*/
#header{
    position: fixed;
    top: 0;
}
#welcome-section{
    color: white;
    background-color: black;
    min-height: 110vh;
    clip-path: polygon(100% 0, 100% 95%, 30% 100%, 0 95%, 0 0);
}
#about, #contact, figure{
    max-width: 720px;
    margin: auto;
}
@media screen and (min-width: 720px) {
    #grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        grid-template-rows: 1fr;
        gap: 1em;
        justify-content: stretch;
    }
}
/*Fix section headers being covered by fixed header*/
#about, #projects{
    padding-top: 40px;
}

/*modules*/
.nav-link{
    height: 30px;
    line-height: 30px;
    padding: 0.25em 1em;
    color: white;
}
.h-center{
    display: flex;
    justify-content: center;
    
}
.v-align{
    align-items: center;
}
.r-align{
    text-align: right;
    padding-right: 1em;
}
.colored-text{
    color: red;
}
.local-link{
    color: gray;
}
.section-heading, .list{
    margin-left: 2em;
}
.description{
    margin: 1em;
    padding: 1em;
    text-align: justify;
    border: 1px solid rgb(158, 191, 209);
    border-radius: 1em;
}
.list-header{
    font-family: Cinzel, sans-serif;
    font-weight: 400;
}
.round-img{
    border-radius: 50%;  
    border: 5px solid white 
}
.profile-picture{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.project-tile{
    padding: 1em;
    margin-bottom: 1em;
}
.project-title{
    position: absolute;
    bottom: 10px;
    margin: 0;
    width: 100%;
    background-color: rgb(158, 191, 209)
}
.project-tile .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    padding-bottom: 2em;
    background-color: rgba(128, 128, 128, 0.75);
    font-size: 1.5em;
    color: white;
}

