/*Base */
body, header, section, div, nav, article{
    display: block;
    box-sizing: border-box;
}
body, header, section, footer{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}
header{
    width: 100%;
    background-color: rgba(4, 58, 128, 0.507);
    z-index: 5;
}
small, h1, h4{
    font-family: Cinzel, sans-serif;
}
ul{
    display: inline-block;
    list-style-type: none;
}
small{
    font-size: 0.6em;
    letter-spacing: 2px;
    font-weight: 500;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/*layout*/
#header{
    position: fixed;
    top: 0;
}
#welcome-section{
    color: white;
    background-color: black;
    min-height: 110vh;
    clip-path: polygon(100% 0, 100% 90%, 30% 100%, 0 90%, 0 0);
}
#about, #contact{
    max-width: 720px;
    margin: auto;
}
@media screen and (min-width: 720px) {
    #grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        grid-template-rows: auto;
        gap: 1em;

    }
}

/*modules*/
